body {
  
    margin: 0;
    padding: 0;
    max-height: 50vh;
    background-color: #c4dcf2;
  }

.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.fondo {
    background-color: #eee6ff;
   
}

dialogo {
    width: '70%';  
    margin-left: 'auto';
    margin-right: 'auto';}

    .grid-layout{
      
        display:flex-Grow;
       
        margin-top:50px ;
         
        height: 600px;
         
         
        
    }
    .caja {
       border:1px solid red;
       height:'20px';
    }